section.UserInfo {
  div.account {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span.username {
      width: 40%;
      font-size: 1.5rem;
    }
    button {
      border: 2px solid gray;
      border-radius: 5px;
      padding: 0.25rem 0;
      text-align: center;
      font-weight: 900;
      &.message {
        width: 20%;
      }
      &.check {
        width: 20%;
      }
      &.down {
        width: 5%;
      }
    }
  }
  ul.accountInfo {
    height: 50px;
    display: flex;
    align-items: center;
    li {
      margin-right: 20px;
      span.count {
        font-weight: 900;
      }
    }
  }
}
